.footer-icon-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer-icon {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-list-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.footer-list-icon-item .link {
  display: flex;
  width: calc((100%-30px) / 9);
  padding: 12px;
  width: 44px;
  height: 44px;
  color: var(--primary-title-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 10px;
  }
  & .link:hover,
  & .link:focus {
    background: var(--accent-color);
  }
}

.footer-link-icon {
  fill: currentColor;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
