.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background: var(--accent-color);
}

.hero-btn {
  background-color: var(--accent-color);
}

.btn-index {
  border: 1px var(--second-text-color);
  border-radius: 5px;
  min-width: 200px;
  margin: 0 auto;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.btn-margin {
  margin-top: 30px;
}

.btn-shadow {
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
