.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border-radius: 2px;
  border: 2px solid #212121;
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid #2196f3;
}

.modal-form-checkbox-label .modal.form.btn {
  padding: 10px 55px;
}
