:root {
  --header-color: #ffffff;
  --primary-text-color: #757575;
  --second-text-color: #000000;
  --third-text-color: #9da4bd;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --accent-color-icon: #f5f4fa;
  --standart-color-icon: #afb1b8;
}
